.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits-list {
  &__item:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: $tablet-width) {
      margin-bottom: unset;
    }
  }
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$portfolio-list-gap;
    margin-top: -$portfolio-list-gap;
  }

  &__item {
    text-align: center;
    @media screen and (min-width: $tablet-width) {
      width: 354px;
      margin-left: $portfolio-list-gap;
      margin-top: $portfolio-list-gap;
    }
    @media screen and (min-width: $desktop-width) {
      width: 270px;
    }
  }

  &__phon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: $light-background-color;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }
  &__text {
    text-align: left;
    font-weight: $regular-font-weight;
    font-size: $regular-font-size;
    line-height: $middle-line-height;
  }
}
