.logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: $large-font-weight;
  font-size: 26px;
  line-height: $regular-line-height;
  color: $accent-color;

  &__page-header {
    color: #000000;
  }

  &__page-footer {
    color: $primary-white-color;
  }
}
