.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-header {
  border-bottom: 1px solid #eeeeee;
}

.portfolio-filter {
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    display: flex;
    padding: 6px 22px;

    height: 38px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: $middle-font-weight;
    font-size: $middle-font-size;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    border: none;
    cursor: pointer;
    outline: transparent;

    border-radius: 4px;
    color: $title-text-color;
    background-color: $light-background-color;

    transition-property: color, background-color, box-shadow;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-timing-function;

    &:hover,
    &:focus {
      color: $primary-white-color;
      background-color: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: -$portfolio-list-gap;
  margin-left: -$portfolio-list-gap;

  &__item {
    outline: 1px solid #eeeeee;
    flex-basis: calc(100% / 3 - 30px);

    margin-top: $portfolio-list-gap;
    margin-left: $portfolio-list-gap;
  }
}
