body {
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}
body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 100%;
  @media screen and (min-width: $mobile-width) {
    width: $mobile-width;
  }
  @media screen and (min-width: $tablet-width) {
    width: $tablet-width;
  }
  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

address {
  font-style: normal;
}
