$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;

$primary-white-color: #ffffff;
$light-background-color: #f5f4fa;
$hero-background-color: #c4c4c4;
$dark-background-color: #2f303a;

$icons-color: #afb1b8;

$portfolio-list-gap: 30px;

$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$regular-font-weight: 400;
$middle-font-weight: 500;
$large-font-weight: 700;
$bold-font-weight: 900;

$regular-font-size: 14px;
$middle-font-size: 16px;
$large-font-size: 36px;
$title-font-size: 44px;

$small-line-height: 1.14;
$regular-line-height: 1.19;
$middle-line-height: 1.71;
$large-line-height: 1.88;
